{% extends 'base.html' %}

{% block con %}
    <div class="container mt-5 mb-5"  style="font-size: 20px; font-weight: bold; width: 60%;">
        <h1>UPDATE</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3 mt-5">
                <label class="form-label">USERNAME</label>
                <input name='uname' type="text" value="{{user.username}}" disabled class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">PASSWORD</label>
                <input name="upass" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label class="form-label">AGE</label>
                <input type="number" value="{{user.age}}" disabled class="form-control" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label class="form-label">COMMENT</label>
                <textarea class="form-control" name="ucom">{{ user.comment }}</textarea>
            </div>
            <div class="mb-3">
                <input type="file" name="upic" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="text-end">
                <a href="{% url 'acc:profile' %}"><button type="button" class="btn btn-success">뒤로가기</button></a>
                <button class="btn btn-success">정보수정</button>
            </div>
        </form>
    </div>
    
{% endblock %}