{% extends 'base.html' %}
{% block con %}

{{ blist.start_index }}


<div class="container mt-4 mb-4">
    <h1><b>게시판</b></h1>
    총 게시글({{ blist.end_index }})
    <div class="text-end">
        <a href="{% url 'board:create' %}" class="btn btn-success">글쓰기</a>

    </div>

    <table class="table table-hover  mt-4">
        <thead style="background-color: black; color: blanchedalmond; font-weight: bold;">
            <tr>
                <th scope="col">NO</th>
                <th scope="col">제목</th>
                <th scope="col">주석</th>
                <th scope="col">WRITER</th>
                <th scope="col">LIKEY</th>
            </tr>
        </thead>
        <tbody>
            {% if blist %}
                {% for i in blist %}
                    <tr>
                        <th scope="row">{{ blist.start_index|add:forloop.counter0 }}</th>
                        <td><a href="{% url 'board:detail' i.id %}">{{ i.subject }}</a><br><sup style="color: red;">[reply <b>{{ i.reply_set.count }}</b>]</sup></td>
                        <td>{{ i.summary }}</td>
                        <td>{{ i.writer }}</td>
                        <td>{{ i.likely.count }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                {% if kw %}
                    <tr>
                        <th colspan="5">검색결과가 없습니다!</th>
                    </tr>
                {% else %}
                    <tr>
                        <th colspan="5">첫번째 게시글을 작성해주세요.</th>
                    </tr>
                {% endif %}
            {% endif %}
        </tbody>
    </table>
    <form>
        <div class="row">
            <div class="col-lg-2">
                <select name="cate" class="form-select" aria-label="Default select example">
                    <option value="sub" {% if cate == 'sub' %} selected {% endif %}>제목</option>
                    <option value="wri" {% if cate == 'wri' %} selected {% endif %}>작성자</option>
                    <option value="con" {% if cate == 'con' %} selected {% endif %}>내용</option>
                </select>
            </div>
            <div class="col-lg-9">
                <input name="kw" type="text" class="form-control" value="{{kw}}">
            </div>
            <div class="col-lg-1">
                <button class="btn btn-dark">검색</button>
            </div>
        </div>
    </form>


    <nav aria-label="Page navigation example" class="mt-5">
        <ul class="pagination justify-content-center">

            {% if blist.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index' %}?page=1&cate={{cate}}&kw={{kw}}">처음</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index' %}?page={{blist.previous_page_number}}&cate={{cate}}&kw={{kw}}">이전</a>
                </li>
            {% endif %}
            
            {% for i in blist.paginator.page_range %}
                {% if blist.number|add:5 >= i and blist.number|add:-5 <= i %}
                    <li class="page-item {% if blist.number == i %}active{% endif %}"><a class="page-link" href="{% url 'board:index' %}?page={{i}}&cate={{cate}}&kw={{kw}}">{{i}}</a></li>
                {% endif %}        
            {% endfor %}

            {% if blist.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index' %}?page={{blist.next_page_number}}&cate={{cate}}&kw={{kw}}">다음</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'board:index' %}?page={{blist.paginator.num_pages}}&cate={{cate}}&kw={{kw}}">마지막</a>
                </li>
            {% endif %}

        </ul>
    </nav>

</div>

<style>
    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    a:hover{
        color: red;
    }
</style>


{% endblock %}

{% block anycon %}
    <div class="container mt-5 mb5 text-center">
        <h1>로그인이 필요합니다!</h1>
        <a href="{% url 'acc:login' %}" class="mt-4 btn btn-dark">로그인</a>
    </div>
{% endblock %}